@use "../../../../../styles" as *;


  .slider {
    display: flex;
    flex-direction: column;
    gap: $gap-25;
    position: relative;
    justify-content: center;
    .item {
      position: relative;
      min-height: 660px;
      width: 100%;
      overflow: hidden;
    }
  }
