@use "../../../../../styles" as *;

.favorite {
  .page-content {
    min-height: calc(100% - 73px);
  }
  .slider {
    display: flex;
    flex-direction: column;
    gap: $gap-15;
    position: relative;
    justify-content: center;
    .item {
      position: relative;
      min-height: 660px;
      width: 100%;
      overflow: hidden;
    }
  }
}
