  @if(favData.length) {
    <title-bar leftBtnShape="settingBtn" rightBtnShape="notification" pageTitle="favorites"></title-bar>
    <div class="slider">
      @for (favItem of favData; track $index) {
      <div class="item">
        <details-section routerLink="item-details/{{ favItem.id }}" [MainBoxStyle]="{
            width: '100%',
            height: '100%',
            radius: '25px',
            background:
              'linear-gradient(to bottom right, #262B33 0%, #262B3300 100%)'
          }" [buttons]="{ leftBtn: false, rightBtn: true }" [item]="favItem"></details-section>
      </div>
      }
    </div>
  } @else {
  <empty-page routerLink="/home" empty-page="you'r favorite is Empty" btnTxt="add some favorite!"></empty-page>
  }
<router-outlet></router-outlet>
<alert-msg></alert-msg>