@use "../../../../../styles.scss" as *;

/* form style */
.form {
  position: relative;
  width: 100%;
  /* label styling */
  height: 45px;
  label {
    background: $col-lightBlack;
    font-size: 0.9rem;
    border-radius: 30px;
    height: 100%;
    display: flex;
    align-items: center;
    transition: 300ms;
    /* styling search-icon */
    .search-icon {
      padding: 0.8em;
      fill: $col-gray;
      transition: 300ms;
    }
    /* styling of input */
    .search-input {
      padding: 0.8em;
      padding-left: 0;
      color: $col-white;
      font-weight: 500;
      caret-color: $col-orange;
      width: 100%;
      background: transparent;
      appearance: none !important;
      border: none;
      &:internal-autofill-selected {
        appearance: none !important;
        background-image: none !important;
        background-color: transparent !important;
        color: $col-white !important;
      }
      &:focus {
        outline: none;
      }
      &::placeholder {
        color: $col-gray;
        font-size: 10px;
        font-weight: 500;
      }
      /* showing close button when typing */
      &:valid ~ .close-btn {
        $vol: 20px;
        width: $vol;
        height: $vol;
        right: 0.7em;
      }
    }
    /* styling of close button */
    .close-btn {
      $vol: 0px;
      width: $vol;
      height: $vol;
      transition: 100ms;
      position: absolute;
      right: 1.4em;
      border: none;
      display: flex;
      align-items: center;
      justify-content: center;
      transform-origin: center center;
      color: $col-gray;
      border-radius: 50%;
      background: $col-dark;
      & svg {
        $vol: 8.4px;
        width: $vol;
        height: $vol;
      }
    }
    /* search icon color change in focus */
    &:has(.search-input:focus) {
      box-shadow: rgba(0, 0, 0, 0.5) 0px 5px 7px 2px;
      > .search-icon {
        fill: $col-orange;
      }
    }
  }
  /* svg -- size */
  svg {
    width: 17px;
    display: block;
  }
}
