<div class="item" [ngStyle]="{padding: itemStyles.padding}">
  <div
    class="content"
    [ngStyle]="{ flexDirection: mainBoxFlex.direction, gap: mainBoxFlex.gap }"
  >
    <div
      class="img-box"
      [ngStyle]="{
        width: imgBoxSize == 'S' ? '57px': imgBoxSize == 'M' ? '100px' : '126px',
        height: imgBoxSize == 'S' ? '57px': imgBoxSize == 'M' ? '100px' : '126px',
      }"
    >
      <div class="rate">
        <svg
          viewBox="0 0 17 17"
          fill="inherit"
          xmlns="http://www.w3.org/2000/svg"
          class="star"
        >
          <path
            d="M9.77415 1.194L11.2412 4.127C11.4412 4.535 11.9742 4.927 12.4242 5.002L15.0832 5.444C16.7832 5.727 17.1832 6.96 15.9582 8.177L13.8912 10.244C13.5412 10.594 13.3492 11.269 13.4572 11.752L14.0492 14.31C14.5162 16.335 13.4412 17.119 11.6492 16.06L9.15715 14.585C8.70715 14.319 7.96615 14.319 7.50715 14.585L5.01615 16.06C3.23215 17.119 2.14915 16.327 2.61615 14.31L3.20715 11.752C3.31615 11.269 3.12415 10.594 2.77415 10.244L0.707154 8.177C-0.508846 6.96 -0.117846 5.727 1.58215 5.444L4.24115 5.002C4.68215 4.927 5.21615 4.535 5.41615 4.127L6.88215 1.194C7.68215 -0.398 8.98215 -0.398 9.77415 1.194Z"
            fill="inherit"
          />
        </svg>
        <h6>{{ itemData.average_rating }}</h6>
      </div>
      <img src="" alt="" />
    </div>
    <div class="content-box" [ngStyle]="{'flex-direction': sideContentBoxFlex.direction, gap: sideContentBoxFlex.gap}">
      <div class="titles">
        <span class="title" [ngStyle]="{ 'font-size': titlesSize.mainTitle }">
          {{ itemData.name }}
          </span
        >
        <span class="subtitle" [ngStyle]="{ 'font-size': titlesSize.subTitle }">
          {{ itemData.special_ingredient }}
          </span
        >
      </div>
      <ng-container [ngTemplateOutlet]="sideTemplate"></ng-container>
    </div>
  </div>
  <ng-container [ngTemplateOutlet]="contentTemplate"></ng-container>
</div>
