@use "../../../../../styles" as *;

.favorite {
  .slider {
    display: flex;
    flex-direction: column;
    gap: 25px;
    // align-items: center;
    justify-content: center;
    .box {
      position: relative;
      height: fit-content;
      border-radius: 25px;
      overflow: hidden;
    }
  }
}