<section class="favorite page">
  @if(favData.length) {
  <section class="page-content">
    <div class="slider">
      @for (favItem of favData; track $index) { @if(favItem.isFavorite) {
      <details-section
        [MainBoxStyle]="{
          width: '100%',
          height: 'fit-content',
          radius: '25px',
          background:
            'linear-gradient(to bottom right, #262B33 0%, #262B3300 100%)'
        }"
        [backBtn]="false"
        [item]="favItem"
      ></details-section>
      } }
    </div>
  </section>
} @else {
<msg [msg]="'your favorites is empty'" [btnTxt]="'home page'"></msg>
}
  <menu-bar></menu-bar>
</section>
