@use "../../../../../styles" as *;

.page {
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 57px;
  overflow: hidden;
  z-index: 1;
  @media (max-width: 431px) {
      border-radius: 0px;
  }
  .page-content {
    overflow: hidden;
    overflow-y: scroll;
    &::-webkit-scrollbar {
      width: 0px;
      height: 0px;
    }
    padding: 0px 25px;
    width: 100%;
    height: calc(100% - #{$header-height} - #{$menu-bar-height});
    display: flex;
    flex-direction: column;
  }
}
