@use "../../../../../styles" as *;

.home {
  display: flex;
  flex-direction: column;
  gap: $gap-25;
  h1 {
    color: $col-white;
    font-weight: 600;
    @media (min-width: 425px) {
      width: 195px;
    }
  }
}

.items-title {
  font-weight: 400;
  color: $col-white;
}
.slider {
  display: flex;
  overflow: visible;
  overflow-x: scroll;
  gap: $gap-25;
  // grid-template-columns: repeat(auto-fill, 150px);
  // grid-template-rows: repeat(1, 235px);
  width: 100%;
}

.buy {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .add-to-cart {
    width: $small-btn-size;
    height: $small-btn-size;
    position: relative;
    border-radius: $rad-7;
    svg {
      $vol: 12px;
      width: $vol;
      height: $vol;
    }
  }
}
