<section class="home page" id="home">
  <h1>Find the best coffee for you</h1>
  <search-box></search-box>
  <category-filter></category-filter>

  <h3 class="items-title">Coffee drinks</h3>
  <section class="slider">
    @for (cupData of coffeeCupArr; track $index) {
    <product-item
      [contentTemplate]="buySection"
      [itemData]="cupData"
      [imgBoxSize]="'L'"
    ></product-item>
    <ng-template #buySection>
      <div class="buy">
        <price
          [currency]="cupData.price.USD.currencySign"
          [price]="cupData.price.USD.sizes[0].price"
          [priceSize]="'15px'"
        ></price>
        <button
          class="add-to-cart"
          btnShape
          routerLink="item-details/{{ cupData.id }}"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="inherit"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.4062 8.33333H11.6667V1.59375C11.6667 0.713542 10.9219 0 10 0C9.07812 0 8.33333 0.713542 8.33333 1.59375V8.33333H1.59375C0.713542 8.33333 0 9.07812 0 10C0 10.9219 0.713542 11.6667 1.59375 11.6667H8.33333V18.4062C8.33333 19.2865 9.07812 20 10 20C10.9219 20 11.6667 19.2865 11.6667 18.4062V11.6667H18.4062C19.2865 11.6667 20 10.9219 20 10C20 9.07812 19.2865 8.33333 18.4062 8.33333Z"
              fill="inherit"
            />
          </svg>
        </button>
      </div>
    </ng-template>
    }
  </section>

  <h3 class="items-title">Coffee beans</h3>
  <section class="slider">
    @for (beansData of coffeeBeansArr; track $index) {
    <product-item
      [contentTemplate]="buySection"
      [itemData]="beansData"
      [imgBoxSize]="'L'"
    ></product-item>
    <ng-template #buySection>
      <div class="buy">
        <price
          [price]="beansData.price.USD.sizes[0].price"
          [currency]="beansData.price.USD.currencySign"
          [priceSize]="'15px'"
        ></price>
        <button
          class="add-to-cart"
          btnShape
          routerLink="item-details/{{ beansData.id }}"
        >
          <svg
            width="20"
            height="20"
            viewBox="0 0 20 20"
            fill="inherit"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M18.4062 8.33333H11.6667V1.59375C11.6667 0.713542 10.9219 0 10 0C9.07812 0 8.33333 0.713542 8.33333 1.59375V8.33333H1.59375C0.713542 8.33333 0 9.07812 0 10C0 10.9219 0.713542 11.6667 1.59375 11.6667H8.33333V18.4062C8.33333 19.2865 9.07812 20 10 20C10.9219 20 11.6667 19.2865 11.6667 18.4062V11.6667H18.4062C19.2865 11.6667 20 10.9219 20 10C20 9.07812 19.2865 8.33333 18.4062 8.33333Z"
              fill="inherit"
            />
          </svg>
        </button>
      </div>
    </ng-template>
    }
  </section>
</section>
<router-outlet></router-outlet>
