<section class="item-details" [ngStyle]="{
    width: '100%',
    height: '100%',
    'border-radius': '0',
    background: '#0c0f14'
  }">
  <img alt="" />
  <details-section [item]="item" [buttons]="{ leftBtn: true, rightBtn: true }">
    <section class="buy-section">
      <div class="sizes-box">
        <h4 subTitle>size</h4>
        <div class="sizes">
          @for (product of item.price.USD.sizes; track $index) {
          <label [ngStyle]="{
            width: 'calc((100% - 50px) / 3)',
          }" for="{{ product.size }}">
            <input type="radio" name="size" id="{{ product.size }}" value="{{ product.size }}"
              [checked]="product.size == item.price.USD.sizes[0].size" (change)="selected = $index" />
            <h3>{{ product.size }}</h3>
          </label>
          }
        </div>
      </div>
      <div class="buy">
        <div class="price-box">
          <h4 subTitle>Price</h4>
          <price [price]="item.price.USD.sizes[selected].price" [priceSize]="'20px'"></price>
        </div>
        <button class="add-btn" btnShape (click)="cartService.cart_addItem(item.id, selected)">
          Add to Cart
        </button>
      </div>
    </section>
  </details-section>
</section>