<section class="cart page">
  @if (cart.length) {
  <section class="page-content">
    <title-bar leftBtnShape="settingBtn" pageTitle="cart" rightBtnShape="notification"></title-bar>
    <div class="cart-list">
      @for (data of cart; track data.item.id) {
      <product-item imgLink="item-details/{{ data.item.id }}" [itemData]="data.item"
        [sideTemplate]="isQty1(data.amounts) ? orderDetails : tags"
        [contentTemplate]="isQty1(data.amounts) ? empty : orderDetails" [imgBoxSize]="isQty1(data.amounts) ? 'L' : 'M'"
        [mainBoxFlex]="{ direction: 'row', gap: '25px' }"
        [titlesSize]="{ mainTitle: '16px', subTitle: '10px' }"></product-item>
      <ng-template #empty></ng-template>
      <ng-template #tags>
        <div class="tag custom">Medium Roasted</div>
      </ng-template>
      <ng-template #orderDetails>
        <div class="order-details" [ngStyle]="{ padding: isQty1(data.amounts) ? '0px' : '10px 0' }">
          @for (amount of data.amounts; track $index) {
          <div class="box" *ngIf="amount.quantity > 0" [ngStyle]="{
              'flex-direction': isQty1(data.amounts) ? 'column' : 'row'
            }">
            <div class="price-box" [ngStyle]="{ gap: isQty1(data.amounts) ? '25px' : '17px' }">
              <div class="size">{{ amount.size }}</div>
              <price [price]="data.item.price.USD.sizes[$index].price"
                [priceSize]="isQty1(data.amounts) ? '20px' : '16px'"></price>
            </div>
            <div class="quantity-box" [ngStyle]="{ gap: isQty1(data.amounts) ? '25px' : '17px' }">
              <button class="btn decrement" (click)="decrementQty(data.item.id, amount.size)" btnShape>
                <svg width="20" height="4" viewBox="0 0 20 4" fill="inherit" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.4062 0H1.59375C0.713542 0 0 0.744792 0 1.66667C0 2.58854 0.713542 3.33333 1.59375 3.33333H18.4062C19.2865 3.33333 20 2.58854 20 1.66667C20 0.744792 19.2865 0 18.4062 0Z"
                    fill="inherit" />
                </svg>
              </button>
              <span class="quantity">{{ amount.quantity }}</span>
              <button class="btn increment" (click)="incrementQty(data.item.id, amount.size)" btnShape>
                <svg width="20" height="20" viewBox="0 0 20 20" fill="inherit" xmlns="http://www.w3.org/2000/svg">
                  <path
                    d="M18.4062 8.33333H11.6667V1.59375C11.6667 0.713542 10.9219 0 10 0C9.07812 0 8.33333 0.713542 8.33333 1.59375V8.33333H1.59375C0.713542 8.33333 0 9.07812 0 10C0 10.9219 0.713542 11.6667 1.59375 11.6667H8.33333V18.4062C8.33333 19.2865 9.07812 20 10 20C10.9219 20 11.6667 19.2865 11.6667 18.4062V11.6667H18.4062C19.2865 11.6667 20 10.9219 20 10C20 9.07812 19.2865 8.33333 18.4062 8.33333Z"
                    fill="inherit" />
                </svg>
              </button>
            </div>
          </div>
          }
        </div>
      </ng-template>
      }
    </div>
  </section>
  @if (cart.length) {
  <div class="buy-box">
    <div class="price">
      <h4 subTitle>Total Price</h4>
      <price [price]="getTotal(cart)" priceSize="20px"></price>
    </div>
    <button routerLink="make-order" btnShape [disabled]="getTotal(cart) === '0'" (click)="makeOrder()">
      make order
    </button>
  </div>
  } }@else {
  <msg routerLink="/home" msg="your cart is empty!" btnTxt="add some coffee now!"></msg>
  }
  <menu-bar></menu-bar>
</section>
<router-outlet></router-outlet>