<div class="loader" [ngStyle]="{display: isLoading? 'block' : 'none'}">
  <div class="container">
    <div class="coffee-header">
      <div class="coffee-header__buttons"></div>
      <div class="coffee-header__display"></div>
      <div class="coffee-header__details"></div>
    </div>
    <div class="coffee-medium">
      <div class="coffe-medium__exit"></div>
      <div class="coffee-medium__arm"></div>
      <div class="coffee-medium__liquid"></div>
      <div class="smoke one"></div>
      <div class="smoke two"></div>
      <div class="smoke three"></div>
      <div class="smoke four"></div>
      <div class="coffee-medium__cup"></div>
    </div>
  </div>
</div>