    <div class="card">
      <div class="card-head">
        <h3 class="logo">MasterCard</h3>
        <h3 class="type">debit</h3>
      </div>
      <div class="chip">
        <div class="chip-texture"></div>
      </div>
      <div class="card-number">
        <span class="nums-group">0123</span>
        <span class="nums-group">4567</span>
        <span class="nums-group">8901</span>
        <span class="nums-group">2345</span>
      </div>
      <div class="valid-thru" aria-label="Valid thru">Valid<br />thru</div>
      <div class="exp-date"><time datetime="2038-01">01/38</time></div>
      <div class="holder-name">Jk Huger</div>
      <div class="brand-logo" role="img" aria-labelledby="card-vendor"></div>
      <div class="card-texture"></div>
    </div>