/* You can add global styles to this file, and also import other style files */
// Global variables

// $primaryRedHex: #DC3535;
// $primaryOrangeHex: #D17842;
// $primaryBlackHex: #0C0F14;
// $primaryDarkGreyHex: #141921;
// $secondaryDarkGreyHex: #21262E;
// $primaryGreyHex: #252A32;
// $secondaryGreyHex: #252A32;
// $primaryLightGreyHex: #52555A;
// $secondaryLightGreyHex: #AEAEAE;
// $primaryWhiteHex: #FFFFFF;
// $primaryBlackRGBA: rgba(12,15,20,0.5);
// $secondaryBlackRGBA: rgba(0,0,0,0.7);

// Colors
$col-favorite: #dc3535;
$col-orange: #d17842;
$col-dark: #0c0f14;
$col-border: #21262e;
$col-lightBlack: #252a32;
$col-darkGray: #52555a;
$col-gray: #aeaeae;
$col-white: #ffffff;
$main-gradient: linear-gradient(to bottom right, #252a32 0%, #262b3300 100%);
$sec-gradient: linear-gradient(to bottom right, #21262e 20%, #0c0f14 70%);

$lay999: 999;
// Heading sizes
h1 {
  font-size: 28px;
}
h2 {
  font-size: 20px;
}
h3 {
  font-size: 16px;
}
h4 {
  font-size: 14px;
}
h5 {
  font-size: 12px;
}
h6 {
  font-size: 10px;
}

// Global rules
:is(*, ::before, ::after) {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "poppins", "sanserif", "arial";
  background-color: $col-dark;
  text-transform: capitalize;
  position: relative;
  z-index: 1;
}

// Helper Classes

.page {
  padding: 10px 30px;
  width: 100%;
  height: fit-content;
  position: absolute;
  z-index: 5;
}

.container {
  padding: 10px 30px;
  position: relative;
  z-index: 1;
}

// button[btnshape] {
//   &:focus {
//     color: $col-orange;
//     background-color: transparent;
//     border-color: $col-orange;
//   }
// }
