<section class="settings-page">
  <div class="settings">
    <label class="close-btn" for="close">
      <input type="checkbox" id="close" (change)="goBack">
      <span class="line"></span> <span class="line"></span>
    </label>
    <div class="profile-info">
      <div class="img">
        <img src="" alt="" />
      </div>
      <h3 class="user-name">user name</h3>
    </div>
    <ul class="settings-list">
      <li><h2>settings</h2></li>
      <li>support team</li>
      <li>contact</li>
    </ul>
    <div class="app-info">
      <h3>version</h3>
      <span>1.0.0</span>
    </div>
  </div>
</section>
