<section class="add-card page">
  <title-bar></title-bar>
  <card-shape></card-shape>
  <form class="form">
    <label for="name" class="label">
      <span class="title">Card holder full name</span>
      <input
        id="name"
        class="input-field"
        type="text"
        name="input-name"
        title="Input title"
        placeholder="Enter your full name"
      />
    </label>
    <label for="cardNumber" class="label">
      <span class="title">Card Number</span>
      <input
        id="cardNumber"
        class="input-field"
        type="number"
        name="input-name"
        title="Input title"
        placeholder="0000 0000 0000 0000"
      />
    </label>
    <div class="split">
      <label for="ExDate" class="label">
        <span class="title">Expiry Date</span>
        <input
          id="ExDate"
          class="input-field"
          type="text"
          name="input-name"
          title="Expiry Date"
          placeholder="01/23"
        />
      </label>
      <label for="cvv" class="label">
        <span class="title"> CVV</span>
        <input
          id="cvv"
          class="input-field"
          type="number"
          name="cvv"
          title="CVV"
          placeholder="CVV"
        />
      </label>
    </div>
    <button class="checkout-btn" btnShape>Add Card</button>
  </form>
</section>
