@if (historyItems.length) {
<title-bar leftBtnShape="settingBtn" rightBtnShape="notification" pageTitle="history"></title-bar>

<div class="slider">
  @for (orderData of historyItems; track $index) {

  <order-details [orderData]="orderData"></order-details>
  @if (orderData.isAccepted) {
  <button class="btn reorder" btnShape>Reorder</button>
  }@else{
  <button class="btn cancel-order" btnShape>
    cancel order
  </button>
  }
  }
</div>
<button class="btn download" btnShape>download</button>
}@else {
<empty-page routerLink="/cart"></empty-page>
}
<router-outlet></router-outlet>