@use "../../../../../styles" as *;

.slider {
  overflow: hidden;
  overflow-y: scroll;
  gap: 15px;
    display: flex;
    flex-direction: column;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }

}

button.btn {
  flex: 1;
  padding: 10px 0;
  width: 100%;
  border-radius: $rad-10 + 10;
  &.download {
    margin: 25px 0;
    padding: 20px 0;
    border-radius: $rad-25;
    width: 100%;
  }
  &.cancel-order {
    background-color: $col-red !important;
  }
}
